@import "variables";

#root {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background: url("../assets/images/football-field-bg.jpg") no-repeat;
    background-size: cover;
    background-position: center;

    .step-container {
        padding: 30px;
        border-radius: 10px;
        background-color: $container-background-color;
    }
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $theme-color; 
    border-radius: 50px;
    background-clip: padding-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #888; 
}

.unknown-details {
    color: #808080 !important;
}

.button-primary {
    width: 200px;
    max-width: 200px;
    background-color: $theme-color !important;
    border: 1px solid $theme-color !important;
    font-weight: bold !important;

    &:hover {
        background-color: #0000CD !important;
    }

    &:focus {
        box-shadow: none !important;
    }

    @media (max-width: 991px) {
        width: 100%;
        max-width: 100%;
    }
}

.button-secondary {
    width: 200px;
    max-width: 200px;
    background-color: #fff !important;
    border: 1px solid $theme-color !important;
    font-weight: bold !important;
    color: $theme-color !important;
    
    &:hover {
        background-color: #cdcdcd !important;
    }

    &:focus {
        box-shadow: none !important;
    }

    @media (max-width: 991px) {
        width: 100%;
        max-width: 100%;
    }
}