#root {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background: url("../assets/images/football-field-bg.jpg") no-repeat;
    background-size: cover;
    background-position: center;

    .step-container {
        padding: 30px;
        border-radius: 10px;
        background: rgba(241, 241, 241, 0.7);
    }
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #000080; 
    border-radius: 50px;
    background-clip: padding-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #888; 
}

.unknown-details {
    color: #a9a9a9 !important;
}

.button-primary {
    width: 200px;
    max-width: 200px;
    background-color: #000080 !important;
    border: 1px solid #000080 !important;
    font-weight: bold !important;

    &:focus {
        box-shadow: none !important;
    }

    @media (max-width: 991px) {
        width: 100%;
        max-width: 100%;
    }
}