.no-player-container {
    padding: 30px;
    background-color: rgba(241, 241, 241, 0.7);
    border-radius: 10px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .no-player-message {
        margin-bottom: 20px;
    }
    
    .no-player-navigation-button {
        font-size: 20px;
    }
}

.vs-label {
    font-size: 30px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    margin: 30px 0px;
}

.show-comparison-buttons-container {
    margin-bottom: 20px;

    .comparison-buttons {
        background-color: #ff0000 !important;
        color: #fff !important;
        border-color: #ff0000 !important;
        font-size: 20px !important;

        &:hover {
            background-color: #ff6347 !important;
            border-color: #ff6347 !important;
        }

        &:first-child {
            margin-right: 100px;

            @media (max-width: 991px) {
                margin-right: 0px;
                margin-bottom: 8px;
            }
        }
    }

    @media (max-width: 991px) {
        flex-direction: column;
    }
}

.clear-comparison-button-container {
    margin-bottom: 20px;

    .clear-comparison-button {
        // background-color: #ff0000 !important;
        // color: #fff !important;
        // border-color: #ff0000 !important;

        // &:hover {
        //     background-color: #ff6347 !important;
        //     border-color: #ff6347 !important;
        // }
    }
}

.comparison-bar-chart {
    background-color: rgba(241, 241, 241, 0.7);
}