@import "variables";

.team-formation-status {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
}

.no-player-container {
    padding: 30px;
    background-color: $container-background-color;
    border-radius: 10px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .no-player-message {
        margin-bottom: 20px;
    }
    
    .no-player-navigation-button {
        font-size: 20px;
    }
}