.navigation-bar {
    background-color: #000080;

    .navbar-nav {
        display: flex;
        justify-content: flex-end !important;
        width: 100%;

        .navigation-link {
            color: #fff !important;
            text-decoration: none;
            font-size: 24px;
            font-weight: bold;
    
            &:last-child {
                margin-left: 20px;
            }

            &.active {
                color: #0d6efd !important;
            }
        }
    }
    
}