@import "variables";

.rec-carousel-wrapper {
    position: relative;

    .rec-carousel {
        .rec-arrow-up {
            @media (max-width: 1199px) {
                position: absolute;
                top: 0px;
                left: 46%;
            }
        }

        .rec-arrow-down {
            @media (max-width: 1199px) {
                position: absolute;
                bottom: 0px;
                left: 46%;
            }
        }

        @media (max-width: 1199px) {
            margin: 50px 0px;
        }
    }
}

.player-selection-card {
    width: 250px;
    max-width: 250px;
    height: 300px;
    max-height: 300px;
    flex-direction: column;
    border: 1px solid $theme-color;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0px;

    &:hover {
        border: 2px solid $theme-color;
        transform: scale(1.1);
        cursor: pointer;
    }

    .player-selection-card-image {
        width: 70px;
        height: auto;
        align-self: center;
        margin-bottom: 20px;

        @media (max-width: 1199px) {
            margin: auto 0px;
        }
    }

    .player-selection-card-details {
        overflow-x: hidden;
        overflow-y: auto;
        padding-right: 3px;

        .row {
            margin-bottom: 8px;

            .details-value {
                font-weight: bold;
            }

            .vertical-details {
                .details-value {
                    font-weight: bold;
    
                    .unknown-details {
                        color: #a9a9a9;
                    }

                    &.player-name {
                        @media (max-width: 1199px) {
                            font-size: 20px;
                        }
                    }

                    &.player-position {
                        @media (max-width: 1199px) {
                            color: $theme-color;
                        }
                    }
                }

                @media (max-width: 1199px) {
                    text-align: center;
                }
            }
        }
    }

    @media (max-width: 1199px) {
        flex-direction: row;
        align-items: center;
        width: 90%;
        max-width: 90%;
        height: auto;
    }
}

.country-no-player-container {
    padding: 30px;
    background-color: $container-background-color;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
}