.player-selection-card {
    width: 250px;
    max-width: 250px;
    height: 300px;
    max-height: 300px;
    border: 1px solid #000080;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0px;

    &:hover {
        border: 2px solid #000080;
        transform: scale(1.1);
        cursor: pointer;
    }

    .player-selection-card-image {
        width: 70px;
        height: auto;
        align-self: center;
        margin-bottom: 20px;
    }

    .player-selection-card-details {
        // height: 170px;
        // max-height: 170px;
        overflow-x: hidden;
        overflow-y: auto;
        padding-right: 3px;

        .row {
            margin-bottom: 8px;

            .details-value {
                font-weight: 500;

                .unknown-details {
                    color: #a9a9a9;
                }
            }
        }
    }
}

.country-no-player-container {
    padding: 30px;
    background-color: rgba(241, 241, 241, 0.7);
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
}