.player-details-card {
    border: 1px solid #000080;
    border-radius: 10px;
    padding: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    position: relative;

    &.grey-background {
        background-color: rgba(241, 241, 241, 0.7);
        border: none;
    }

    .remove-icon-container {
        position: absolute;
        top: 20px;
        right: 20px;

        .remove-icon {
            width: 20px;
            height: auto;
            cursor: pointer;
        }
    }

    .player-portrait-and-rating{
        font-size: 18px;

        .player-portrait-container {
            .player-portrait {
                width: 250px;
                height: auto;
            }

            @media (max-width: 991px) {
                margin-bottom: 20px;
            }
        }
    
        .player-rating-label {
            margin-right: 10px;
            font-size: 18px;

            // @media (max-width: 1100px) {
            //     font-size: 20px;
            // }
        }

        .player-rating-value {
            font-size: 20px !important;
        }
    }

    .player-details {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        border-left: 1px solid #000080;

        .general-details-section {
            margin-bottom: 20px;

            .player-details-row {
                margin-bottom: 20px;
                color: #000080;

                .player-details-name {
                    font-size: 20px;
                }

                .player-details-country-name {
                    font-size: 20px;
                    margin-right: 20px;
                }

                .player-details-country-flag {
                    width: 50px;
                    height: auto;
                }

                .general-details-value {
                    font-size: 18px;

                    &.weight {
                        margin-right: 5px;
                    }

                    &.height {
                        margin-left: 5px;
                    }
                }
            }
        }

        .details-separator {
            width: 100%;
            border-top: 1px solid #000080;
        }

        .statistics-details-section {
            margin-top: 20px;

            .player-details-row {
                margin-bottom: 20px;

                .statistics-title {
                    font-size: 14px;
                    color: #000;
                    margin-bottom: 5px;
                }

                .statistics-value {
                    font-size: 18px;
                    color: #000080;
                }
            }
        }

        @media (max-width: 991px) {
            border-left: none;
        }
    }
}

.recruit-button-container {
    display: flex;
    justify-content: flex-end;
    padding-left: 0px !important;
    padding-right: 0px !important;

    .recruit-button {
        font-size: 20px !important;
    }
}