.modal-content {
    .modal-header {
        .modal-title {
            width: 100%;
            text-align: center;
            font-weight: bold;
            font-size: 28px;
        }
    }

    .modal-body {
        font-size: 22px;
    }

    .modal-footer {
        button {
            font-size: 18px;
        }
    }
}