.step-title {
    font-size: 24px;
    font-weight: 600;
    color: #000080;
    margin-bottom: 20px;

    .title-line {
        text-decoration: line-through;
    }

    .title {
        margin: 0px 15px 0px 15px;
    }
}

